{{#unless user}}
  <a href="/login">Login</a>
  <br>
  <a href="/register">Register</a>
{{/unless}}
{{#if user}}
  <img src="/images/{{user.image}}" height="160" width="160">
  <p> {{image}}you are currently logged in as {{user.username}} </p>
  <br>
  <a href="/groups/new">Create an new Group</a>
  <br>
  {{#groups}}
    <a href="/groups/{{_id}}">{{name}}</a>
    <br>
  {{/groups}}
  <a href="/logout">Logout</a>
{{/if}}