 <div class="container">
  {{#if expressFlash}}
      <p><strong>{{ expressFlash }}</strong></p>
  {{/if}}
   <img src="/images/{{publicUser.image}}" height="160" width="160">
   <h4 style="display: inline-block;">
    <span>you are currently looking at {{publicUser.username}} Profile </span>
  </h4>
  <div class="bio">
    <h6>Biography</h6>
    <p>{{publicUser.bio}}</p>
  </div>
  <div class="btn btn-default">
    {{#if isFollowing}}
      <a href="/unfollow/{{publicUser._id}}">UnFollow</a>
    {{else}}
     <a href="/follow/{{publicUser._id}}">Follow</a>
    {{/if}}
  </div>
  {{>connections user=publicUser}}
 </div>
 